[package]
authors = ["The POG Contributors <contact@pog.network>"]
edition = "2018"
name = "champ-node"

publish = false
version = "0.0.6"

[dependencies]
anyhow = "1.0"
clap = "3.0.0-beta.4"
crypto = {path = "../lib/crypto"}
directories = "4.0"
encoding = {path = "../lib/encoding"}
futures = "0.3.15"
hyper = "0.14"
pog-proto = {git = "https://github.com/pognetwork/proto"}
prost = "0.9"
roughtime = {path = "../lib/roughtime"}
storage = {path = "../lib/storage"}
thiserror = "1.0"
tokio = {version = "1.0", features = ["macros", "rt-multi-thread"]}
toml = "0.5"
tonic = {version = "0.5", features = ["transport", "prost"]}
tonic-web = "0.1"
tower = "0.4.8"

[dev-dependencies.cargo-husky]
features = ["user-hooks"]
version = "1"

[[bin]]
name = "champ-node"
path = "main.rs"
